<html lang="en">
  <head>
    <meta name="theme-color" content="#26A69A" />
    <meta name="msapplication-navbutton-color" content="#26A69A" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#26A69A" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>ArtWorks</title>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <div class="d-flex justify-content-between container">
        <a class="navbar-brand" href="/auth/frontpage">ArtWorks</a>
        <ul id="user" class="nav">
          <li class="nav-item d-flex align-items-center">
            <span>Adefisayo</span>
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <aside id="sideBar" class="container pt-5">
      <div class="row mt-3 row-div">
        <div class=" d-flex justify-content-between flex-column">
          <div>
            <div class="col-12 mt-2">
              <a href="/auth/favourites" class="">
                <i class="fa fa-heart pr-2" aria-hidden="true"></i>
                favourites
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="/auth/posts" class="">
                <i class="fa fa-book pr-2" aria-hidden="true"></i>
                View Posts
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="/auth/postad" class="">
                <i class="fa fa-pencil-square-o pr-2" aria-hidden="true"></i>
                Post Ad
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-cog pr-2" aria-hidden="true"></i>
                Setting
              </a>
            </div>
          </div>
          <div>
            <div class="col-12 mb-4">
              <a href="/logout" class="">
                <i class="fa fa-sign-out pr-2" aria-hidden="true"></i>
                sign out
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="page-container">
    <div class="container" id="postAd">
      <main class="row mt-3">
        <form
        action="/auth/editpost/<%=post._id%>?_method=PUT"
        method='POST'
        class="col-sm-12 col-md-8 col-lg-6 mx-auto ad-form"
        id=""
        enctype="multipart/form-data"
        >
          <h4 class="text-center text-muted">EDIT ART WORK</h4>
          <div class="alert alert-primary" role="alert">
          </div>
          <% if (error !== undefined ) {%>
            <div class="alert alert-danger col-8 mx-auto" role="alert">
             <p><%=error%></p>
            </div>
          <%}%>
          <div class="form-group file-title" id="">
            <label for="title">Art Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              value="<%=post.title%>"
              aria-describedby="helpId"
              placeholder=""
             
            />
          </div>
          <div class="form-group file-price" id="">
            <label for="price">Art Price</label>
            <input
              type="text"
              class="form-control price"
              name="price"
              id="price"
              value="<%=post.price%>"
              aria-describedby="helpId"
              placeholder=""
              
            />
            <small id="" class="form-text warning"
              ></small
            >
          </div>
          <div class="form-group image-file" id="">
            <label for="image" class="image-label">
              <span>
                <i class="fa fa-upload" aria-hidden="true"></i>
              </span>
              <span>select photo(s)</span>
            </label>
            <input
              type="file"
              class="form-control-file image"
              name="images"
              id="edit-image"
              placeholder=""
              aria-describedby="fileHelpId"
              multiple
              accept="image/*"
            />
            <small id="fileHelpId" class="form-text text-muted"
              >You can select up to 3 photos</small
            >
          </div>
          <div class="form-group file-description" id="">
            <label for="description">Art Description</label>
            <textarea
              class="form-control"
              name="description"
              id="description"
              rows="3"
              maxlength="250"
            ><%=post.description%></textarea>
            <small id="fileHelpId" class="form-text text-muted">
              Write about the art work, 250 maximum character
            </small>
          </div>
          <div class="form-row">
            <div class="col-6 col-md-4 mr-auto">
              <button id="" type="submit" class="button btn  w-100">
                Post Ad
              </button>
            </div>
          </div>
        </form>
      </main>
    </div>
    <footer class="footer text-center">
      <div class="footer-section">
        <p>Artworks<sup>&copy;</sup> was created by Adeniji Adefisayo, 2020.</p>
        <small>All right reserved</small>
      </div>
    </footer>
    </div>
    <script src="/sideBar.js"></script>
    <script src="/upload.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
