<html lang="en">
  <head>
    <meta name="theme-color" content="#55a01c"/>
    <meta name="msapplication-navbutton-color" content="#55a01c"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#55a01c"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>ArtWorks</title>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <div class="d-flex justify-content-between container">
        <a class="navbar-brand" href="/auth/frontpage">ArtWorks</a>
        <ul id="user" class="nav">
          <li class="nav-item d-flex align-items-center">
            <span><%=username%></span>
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <aside id="sideBar" class="container pt-5">
      <div class="row mt-3 row-div">
        <div class=" d-flex justify-content-between flex-column">
          <div>
            <div class="col-12 mt-2">
                <a href="/auth/favourites" class="">
                  <i class="fa fa-heart pr-2" aria-hidden="true" ></i>
                  favourites
                </a>
            </div>
            <% if(isArtist){%>
            <div class="col-12 mt-3">
              <a href="/auth/posts" class=""  >
                <i class="fa fa-book pr-2" aria-hidden="true" ></i>
                View Posts
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="/auth/postad" class=""  >
                <i class="fa fa-pencil-square-o pr-2" aria-hidden="true" ></i>
                Post Ad
              </a>
            </div>
          <%}%>
            <div class="col-12 mt-3">
                <a href="#" class=""  >
                  <i class="fa fa-cog pr-2" aria-hidden="true" ></i>
                  Setting
                </a>
            </div>
          </div>
          <div>
              <div class="col-12 mb-4">
                  <a href="/logout" class=""  >
                    <i class="fa fa-sign-out pr-2" aria-hidden="true"></i>
                    sign out
                  </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <main class="container">
      <header class="row">
        <div class="col-12 pl-4" id="filter">
          <p class=" pt-2">
            filter
          </p>
        </div>
        <form action="" id="search-form" class="col-sm-12 col-md-8 pb-3 mx-auto text-center">
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-5">
              <label for="searchByArtist" class="">Search By Artist</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="searchByArtist"
                placeholder="Name of Artist"
              />
            </div>
            <div class="col-sm-12 col-md-5">
              Sort by price
                <div class="form-row mt-2">
                    <div class="form-group col-6">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="price_from"
                        placeholder="least Price"
                      />
                    </div>
                    <div class="form-group col-6">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="price_to"
                        placeholder="highest Price"
                      />
                    </div>
                  </div>
            </div>
            <div class=" col-sm-12 col-md-2" id="search-button-div">
            <button id="" type="submit" class="button btn  closeSeachForm w-100">Search</button>
           </div>
          </div>
        </form>
      </header>
      <div  class=" d-flex flex-column justify-content-between h-100 mt-3">
        <main class="art-container ">
         <%posts.forEach(post => {%>
            <section class="art-card ">
            <header class="art-header" id="img1">
              <a href="/auth/artpreview/<%=post._id%>"><img
                src="<%=post.image%>"
                class="art-image"
                alt="<%=post.title%>"
              /></a>
            </header>
            <footer class="art-footer">
              <div class=" d-flex justify-content-between">
                <%if(post.title.length > 11){
                  post.title = post.title.slice(0, 10);
                  %>
                <small class="art-name"><%=post.title%>. . .</small>
                <%}else{%>
                  <small class="art-name"><%=post.title%></small>
                  <%}%>
                <small class="pr-2"><i  class=" icon fa fa-heart-o"></i></small>
              </div>
              <small class="art-artist text-muted"><%=post.author%></small>
              <p class="text-primary"><%=post.price%></p>
            </footer>
          </section>
         <%})%>
        </main>
      </div>
    </main>
    <footer class="text-center mt-5">
          <div class="footer-style pt-3">
            <p>Artworks<sup>&copy;</sup> was created by Adeniji Adefisayo, 2020.</p>
            <small>All right reserved</small>
          </div>
    </footer>
    <script src="/favouriteIcon.js"></script>
    <script src="/sideBar.js"></script>
    <script src="/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
