<html lang="en">
  <head>
    <meta name="theme-color" content="#55a01c" />
    <meta name="msapplication-navbutton-color" content="#55a01c" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#55a01c" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>ArtWorks</title>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <div class="d-flex justify-content-between container">
        <a class="navbar-brand" href="#">ArtWorks</a>
        <ul id="user" class="nav">
          <li class="nav-item d-flex align-items-center">
            <span>Adefisayo</span>
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <aside id="sideBar" class="container pt-5">
      <div class="row mt-3 row-div">
        <div class=" d-flex justify-content-between flex-column">
          <div>
            <div class="col-12 mt-2">
              <a href="#" class="">
                <i class="fa fa-heart pr-2" aria-hidden="true"></i>
                favourites
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-book pr-2" aria-hidden="true"></i>
                View Posts
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-pencil-square-o pr-2" aria-hidden="true"></i>
                Post Ad
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-adjust pr-2" aria-hidden="true"></i>
                Edit Post
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-cog pr-2" aria-hidden="true"></i>
                Setting
              </a>
            </div>
          </div>
          <div>
            <div class="col-12 mb-4">
              <a href="#" class="">
                <i class="fa fa-sign-out pr-2" aria-hidden="true"></i>
                sign out
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="container">
      <main class="row">
        <div id="inbox" class=" col-11 col-md-6 mx-auto mt-4">
          <h5 class="text-center">messages</h5>
          <%messages.forEach(message => {%>
          <div class=" row inbox-message-summary pb-1 pt-1">
            <div class="col-12 mx-auto">
              <header
                class=" d-flex justify-content-around inbox-message-header "
              >
                <%if (read){%>
                <p class="">
                  <strong> <%=message.art%> - <%=message.price%> </strong>
                </p>
                <%}else{%>
                <p class=""><%=message.art%> - <%=message.price%></p>
                <%}%>
                <small class="text-muted"><%=message.name%></small>
              </header>
              <footer class=" d-flex justify-content-around ">
                <small class="text-muted"><%=message.date%></small>
                <small> <a href="">delete</a></small>
              </footer>
            </div>
          </div>
          <%})%>
        </div>
      </main>
    </div>
    <script src="/sideBar.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
