<html lang="en">
  <head>
      <meta name="theme-color" content="#55a01c"/>
      <meta name="msapplication-navbutton-color" content="#55a01c"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="#55a01c"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>ArtWorks</title>
  </head>
  <body>
    <div class="modal fade" id="enlargePhoto" tabindex="-1" role="dialog" aria-labelledby="enlargePhotoTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="enlargePhotoTitle">Modal title</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body px-0">
            <img>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light">
      <div class="d-flex justify-content-between container">
        <a class="navbar-brand" href="/auth/frontpage">ArtWorks</a>
        <ul id="user" class="nav">
          <li class="nav-item d-flex align-items-center">
            <span><%=username%></span>
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <aside id="sideBar" class="container pt-5">
      <div class="row mt-3 row-div">
        <div class=" d-flex justify-content-between flex-column">
          <div>
            <div class="col-12 mt-2">
              <a href="#" class="">
                <i class="fa fa-heart pr-2" aria-hidden="true"></i>
                favourites
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="/auth/posts" class="">
                <i class="fa fa-book pr-2" aria-hidden="true"></i>
                View Posts
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="/auth/postad" class="">
                <i class="fa fa-pencil-square-o pr-2" aria-hidden="true"></i>
                Post Ad
              </a>
            </div>
            <div class="col-12 mt-3">
              <a href="#" class="">
                <i class="fa fa-cog pr-2" aria-hidden="true"></i>
                Setting
              </a>
            </div>
          </div>
          <div>
            <div class="col-12 mb-4">
              <a href="#" class="">
                <i class="fa fa-sign-out pr-2" aria-hidden="true"></i>
                sign out
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div id="art-preview" class="container">
      <div class="row art-preview-header">
        <div class="col-12 text-center my-3">
          <h5 class=" "><%=post.title%> - <%=post.artist.name%></h5>
          <h4 class=""> <%=post.price%></h4>  
        </div>
      </div>
      <div class="row art-preview-footer">
        <div class="col-sm-12 col-md-12 col-lg-7 mb-3 p-0">
          <div id="art-preview-carousel" class="carousel slide carousel-fade " data-ride="carousel">
            <div id="art-preview-image" class="carousel-inner">
              <%post.images.forEach((image, index)=> {
                if(index === 0){%>
                  <div class="carousel-item active px-2" data-interval="50000">
                  <img data-carousel-image='<%=image%>' src='<%=image%>' class="d-block w-100" alt="<%=post.title%>">
                </div>
                <%}else{%>
                  <div  class="carousel-item px-2" data-interval="50000">
                  <img data-carousel-image='<%=image%>' src='<%=image%>' class="d-block w-100" alt="<%=post.title%>">
                </div>
                <%}})%>
            </div>
            <a class="carousel-control-prev" href="#art-preview-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"  >Previous</span>
            </a>
            <a class="carousel-control-next" href="#art-preview-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class=" ml-3">
            <small data-toggle="modal" data-target="#enlargePhoto" id="enlargePhotoButton">Enlarge Photo</small>
          </div>
        </div>
        
        <div class=" col-sm-12 col-md-12 col-lg-5 d-flex justify-content-around flex-column flex-nowrap">
        <section class="row">
          <article class="col-12" id="art-details">
            <div class="row d-flex justify-content-between flex-row flex-nowrap">
              <div class="col-6">
                <h5><%=post.title%></h5>
              </div>
              <div class="col-6 text-right" >
                <a href="<%=post.artist.facebook%>"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="<%=post.artist.whatsapp%>" style="margin-left: 20px;"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>         
              </div>
            </div>
            <div>
              <p><%=post.description%></p>
            </div>
          </article>
        </section>
        <div class="row d-flex justify-content-between flex-row flex-nowrap">
          <div class="col-6">
            <button id="" class="button btn  w-100" onclick="window.location.href='/auth/editpost/<%=post._id%>'">Edit Post</button>
          </div>
          <div class="col-6 text-right align-self-end pr-3">
          <span><i class="fa fa-phone" aria-hidden="true"></i> <%=post.artist.phone%></span>
          </div>
        </div>
        </div>
      </div>
    </div>
    <script src="/enlargePhoto.js"></script>
    <script src="/sideBar.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
